<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%date{dd.MM.yyyy HH:mm:ss} [%magenta{%8.-8thread}] %highlight{%-5level} | %cyan{%45logger}: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>