<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <!--<Pattern>%d{DEFAULT} [%t] %-5level %X - %logger{36} - %msg%n</Pattern>-->
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="ch.swissperform" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.hibernate" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.camunda" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
